@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300&display=swap");
:root {
  --primary: #ebeced;
  --secondary: #272b33;
  --accent: #404453;
  --text-primary: #272b33;
  --text-secondary: #ebeced;
}
body {
  box-sizing: border-box;
  display: flex;
  margin: 0;
  font-size: 24px;
  font-family: "Encode Sans", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 10px;
}

.block--left {
  display: flex;
  height: 100vh;
  box-sizing: border-box;
  width: 20vw;
  background: var(--secondary);
  flex-direction: column;
  overflow: auto;
}
.block--left .block__p {
  text-align: center;
  font-size: 1.5em;
  color: var(--text-secondary);
}
.block__a {
  padding: 5px;
  margin: 5px;
  background: var(--accent);
  border-radius: 5px;
  color: var(--text-secondary);
  text-decoration: none;
}
.block--right {
  display: flex;
  justify-content: left;
  height: 100vh;
  width: 80vw;
  background: var(--primary);
  overflow: auto;
  flex-direction: column;
  box-sizing: border-box;
  padding: 15px;
  color: var(--text-primary);
}



.themeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: var(--accent);
  height: 70px;
  width: 70px;
  border-radius: 50%;
  top: 40px;
  right: 40px;
}

.themeButton i {
  color: var(--text-secondary);
}

@media screen and (max-width: 768px) {
  body {
    flex-direction: column;
  }

  .block--left {
    height: 10vh;
    width: 100vw;
    flex-direction: row;
    font-size: 12px;
  }
  .block--right {
    height: 90vh;
    width: 100vw;
  }

  .themeButton { 
    top: 11vh;
    right: 10px;
    height: 50px;
    width: 50px;
  }
}

.loader {
  align-self: center;
  border: 16px solid var(--secondary);
  border-radius: 50%;
  border-top: 16px solid var(--primary);
  width: 74px;
  height: 74px;
  animation: loading 1.5s linear infinite;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}